body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5ff; 
}

/* Estilos para el encabezado y la barra de navegación */
header {
    background-color: #113a6d; 
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-bg {
    background-color: #81a7f7; 
    border-radius: 5px; 
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #113a6d;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #63a0f5; /* Cambia de color al pasar el mouse */
}

.nav-actions {
    display: flex;
}

.nav-action {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #ff8c8c; /* Color de fondo diferente para Acceso y Regístrate */
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.nav-action:hover {
    background-color: #ff5656; /* Cambia de color al pasar el mouse */
}

/* Estilos para el contenido principal */
main {
    max-width: 120;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #113a6d;
}

/* Estilos para el carrusel */
.carousel {
    width: 30%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none; /* Oculta todas las imágenes por defecto */
}

img {
    width: 100%;
    height: auto;
}

/* Estilos para los botones */
button {
    background-color: #113a6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Establece la apariencia de los botones al pasar el mouse */
button:hover {
    background-color: #555;
}